FAKE_TOS_ROOT=/Volumes/XIAOMA-A-1T/docker_hub/FakeTos
FAKE_TOS_MOUNT=/fake-tos
FAKE_TOS_RUN_ID=manual-run-001
WORKER_IMAGE_TAR=/Volumes/XIAOMA-A-1T/docker_hub/play_gound/website_aicut-smart_cut_worker_latest.tar.gz
