TOS_ENDPOINT=tos-cn-shanghai.volces.com
TOS_REGION=cn-shanghai
TOS_BUCKET=
TOS_ACCESS_KEY=
TOS_SECRET_KEY=
WORKER_IMAGE_TAR=/Volumes/XIAOMA-A-1T/docker_hub/play_gound/website_aicut-smart_cut_worker_latest.tar.gz
